/* links */

@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.a1{
    margin-left:1200px ;
}

.a2{
    text-align: center;
    padding-top: 90px;
    color: rgb(210, 142, 6);
    font-family: 'REM', sans-serif;
 
}
.a2 h1{
    font-size: 70px;
}
.b2{
    text-align: center;
    font-family: 'REM', sans-serif;
    padding-bottom: 20px;
}
.b2 h1{
    font-size: 70px; 
}
.b3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.b3 p{
    font-size: 30px;
    color:rgb(167, 167, 168)
}
.btn{
    font-size: 40px;
}
.a3{
    padding-top: 50px;
    text-align: center;
}

.a4 img{
    width: 100%;
     
}

.b4{
    text-align: center;
    padding-top: 50px;
  font-family: 'REM', sans-serif;
} 
.b5{
    font-family: 'Roboto', sans-serif;
}
.a5{
    text-align: center;
    padding-top: 100px;
}
.j1{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 120px;
    font-family: 'Roboto', sans-serif;
    color:rgb(151, 151, 152)
}

.j1 h4{
    font-family: 'REM', sans-serif;
}


.a7{
   
    text-align: center;
}
.a8{
    padding-top: 80px;
    text-align: center;
}
.btn btn-outline-secondary{
    font-size: 40px;
}

.a9{
    padding-top: 50px;
    padding-bottom: 100px;
text-align: center;
}

.c2{
    padding-top: 80PX;
    background-color: rgb(230, 230, 230);
}

/* styling all paths */



.n1{
    display: flex;
    justify-content: center;

}
.n2 img{
    padding-top: 60px;
    padding-left: 70px;
    width: 50%;
 
}
.n3{
    padding-top: 80px;
    padding-left: 40px;
    font-family: 'REM', sans-serif;
    font-size: 50px;
  
}

.n4 {
    padding-top: 80px;
    padding-left: 90px;
 
}
.n5{
    padding-top: 50px;
    text-align: center;
}

.q2{
    width: 40%;
    justify-content: center;
    padding-top: 40px;
    color:rgb(151, 151, 152) ;
}

.q3{
    padding-top: 150px;
    text-align: center;
    font-family: 'REM', sans-serif;

}

.q4{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
}
.qp{
    padding-left: 20px;
}
.qp img{
    width: 250px;
    margin-left: 160px;
}





/* about  */
.k2{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 60px;
    font-family: 'REM', sans-serif;
}

.k4{
    padding-top: 150px;
    text-align: center;
    padding-bottom: 70px;
    font-family: 'REM', sans-serif;
}

.k5{
    display: flex;
  
    padding-top: 70px;
}
.k6{
    padding-left: 60px;
    font-family: 'REM', sans-serif;
}

.kf{
    display: flex;
}

.crd{
    display: flex;
}

.o2{
    padding-top: 150px;
    text-align: center;
}

.kf .k8{
padding-left: 150px;
padding-top: 150px;
font-family: 'REM', sans-serif;
}


.crd{
    padding-top: 70px;
}
.crd2{
    padding-left: 300px;
}


/* footer */

.fd {
    padding-top: 120px;
}
.f1{
    display: flex;
}

.f2{
    padding-top: 90px;
    padding-right: 250px;
}

.f3{
    display: flex;
}


.f4{
    display: flex;
}
.f6{

    padding-right: 300px;
}
.f7{
    padding-left: 170px;
}

.fp{
    padding-top: 120px;
}
